@use '@styles/variables' as *;

.card {
	display: flex;
	padding: 0.5rem;
	gap: 0.5rem;
	border: 1px solid transparent;
	border-radius: 0.5rem;
	transition: border-color 0.3s ease-in-out;

	&:hover {
		border-color: $white;
	}

	.cardImage {
		border-radius: 0.5rem;
	}

	.cardInfo {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;

		.cardTitle {
			font-weight: 600;
		}

		.cardAuthors {
			color: $gray;
		}

		.cardButton {
			margin-top: auto;
			padding: 0.5rem 1rem;
			max-width: 200px;
			background-color: $red;
			border-radius: 0.5rem;
		}
	}
}
