@use '@styles/variables' as *;

.searchContainer {
	display: flex;
	gap: 1rem;

	.inputSearch {
		padding: 1rem 1.5rem;
		border-radius: 0.5rem;
	}

	.searchButton {
		padding: 1rem 1rem;
		border-radius: 0.5rem;
		background-color: var(--search-button-color);
		color: var(--search-color);

		&:disabled {
			color: $gray-dark;
		}
	}
}
