@use '@styles/variables' as *;

.header {
	position: relative;
	padding: 1rem 0;
	display: flex;
	flex-direction: column;
	gap: 1rem;

	.title {
		text-align: center;
		font-size: 1.5rem;
		font-weight: 600;
	}

	.navList {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.navItem {
			width: 100%;
			border-top: 1px solid var(--border-color);
			border-bottom: 1px solid var(--border-color);
			&:not(:last-child) {
				border-right: 1px solid var(--border-color);
			}

			transition: background-color 0.3s ease-in-out;

			&:hover {
				background-color: $gray;
			}

			.navLink {
				display: block;
				padding: 1rem 0;
				font-weight: 600;
				text-align: center;
			}
		}
	}
}
